@{
    ViewBag.Title = "BancHUB::Authentication";
    Layout = "~/Views/Shared/_Layoutview.cshtml";
}

@section featured
{
    <div id="content">
        <div class="box box-bordered box-color">
            @*<div class="box-title">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 cols-xs-6">
                            <br />
                        </div>
                    </div>
                </div>*@

            <div>
                <div style="margin:20px">
                    <div class="row">
                        <div class="col-md-3 col-sm-12 cols-xs-6">
                        </div>
                        <div class="col-md-6 col-sm-12 cols-xs-6">
                            <div style="text-align:center">
                                <img src="~/images/banchub.png" />
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 cols-xs-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-12 cols-xs-6">
                        </div>
                        <div class="col-md-6 col-sm-12 cols-xs-6">
                            <div style="text-align:center">
                                <br />
                                Authenticating your request......
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 cols-xs-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-12 cols-xs-6">
                        </div>
                        <div class="col-md-6 col-sm-12 cols-xs-6">
                            <div style="text-align:center">
                                <br />
                                <img src="~/images/fancybox_loading.gif" />
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 cols-xs-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}