<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="UserTheme" value="http://localhost:3268/UserThemes/"/>
    <add key="emailUrl" value="https://core.rule14.com/EmailNotificationService/api/sendNotification"/>
    <add key="emailToken" value="29dd030e822565c2a1e810cf72aa9c3a304bde9e6e80b0f8f51461824d7131fcacda646dbb5a00f2b58553f7a81e869cb33017179a25ac0fbf35cb3af3e35dfaae5003fb9c858cce7b75edeb7195cc40df192c6f1cd345b8be83c2cdac6bb6ecbe4e05da869c7162ab2909858c2cb9c57560cf3015c614dc6f6af4982f72ebe6ea916db2be037d209b0d0d2d2bcbaa4689a60d1137eab54d73eb32ebb0fa8931fee80b4ceaffa1b93eaa6aa873aa6d4367a6be4d8dc135138defed706e4b2c20bec5502477ad12f0578825a552360ff4b409aa6fffc58afd153a12c903dbc43a2313aaae97855de90e70d9cf8019200974244436eed0ac41426623d0da5749b779f484c1e9f014b18e51ddae6a005f009318188e538dc2e291c8bf475ccfc25dadd41f710dcac1c4dd9822db82c8e926828fe24a28ba72b6fa1d25a04d26fb1aa6ea5ed73cac8d7989e5ab613fae2fd2e9304faeb26f3e4f93c30eaacf3106b751a94524350e9d1ac615e15fbac375019ffa0a0a4b35792b94dfb94bed0c9a4d"/>
    <add key="emailAuth" value="Bearer"/>
    <add key="FromAddress" value="noreplay@banchub.io&lt;support@rule14.com&gt;"/>
    <add key="isNetworkCredentials" value="N"/>
    <add key="username" value=""/>
    <add key="pass" value=""/>
    <add key="domain" value=""/>
    <add key="EmailTemplet" value="~/Email_Templet"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>	  
    <compilation debug="true" targetFramework="4.5.2"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <customErrors mode="On" defaultRedirect="Error.html"/>
    <httpRuntime enableVersionHeader="false" />
    <trace enabled="false"/>	  
  </system.web>
  <system.webServer>
    <!--<rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"
              redirectType="Permanent" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security"
              pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000" />
        </rule>
      </outboundRules>
    </rewrite>-->

    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <!--<add name="X-Frame-Options" value="DENY" />-->
        <add name="X-Xss-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Referrer-Policy" value="no-referrer" />
        <add name="X-Permitted-Cross-Domain-Policies" value="none" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
        <remove name="X-Powered-By" />
        <add name="Feature-Policy" value="accelerometer 'none'; camera 'none'; geolocation 'none'; gyroscope 'none'; magnetometer 'none'; microphone 'none'; payment 'none'; usb 'none'" />
        <!--<add name="Content-Security-Policy" value="default-src 'none'; script-src 'self' 'unsafe-inline';
                                                    connect-src 'self' 'unsafe-inline'; img-src 'self' 'unsafe-inline';
                                                    style-src 'self' 'unsafe-inline';" />-->
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBancHUBPaymentService" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IBancHUBPaymentService">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.110.53.53/Banchub2.4/service" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IBancHUBPaymentService"
        contract="TestPaymentService.IBancHUBPaymentService" name="BasicHttpBinding_IBancHUBPaymentService" />
      <endpoint address="https://sandbox.banchub.io/Banchubsandbox/service/soap"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBancHUBPaymentService"
        contract="PaymentService.IBancHUBPaymentService" name="WSHttpBinding_IBancHUBPaymentService" />
    </client>
  </system.serviceModel>
  <!--<system.net>
     <defaultProxy enabled="false">
    </defaultProxy>
  </system.net>-->
</configuration>